.transition-fast {
  transition: all 0.2s ease !important;
}

.transition-slow {
  transition: all 0.6s ease !important;
}

/*! purgecss start ignore */
.nf-form-fields-required,
.ninja-forms-req-symbol {
  @apply hidden;
}

.field-wrap {
  input[type="text"],
  input[type="email"],
  textarea {
    @apply h-16 bg-transparent p-2 border-b-2 border-red resize-none #{!important};
  }

  label {
    @apply text-xl text-red uppercase font-semibold font-barlow-condensed tracking-widest #{!important};
  }

  &.submit-wrap {
    @apply border-0 #{!important};

    input {
      @apply text-xl text-red uppercase font-semibold font-barlow-condensed tracking-widest py-3 px-16 border-2 border-red bg-transparent transition-fast #{!important};
      &:hover {
        @apply cursor-pointer bg-red text-tan;
      }
    }
  }
}

iframe {
  @apply w-full h-full;
}

.post {
  a {
    @apply text-red underline;
  }
  p ~ p {
    @apply mt-10;
  }
}

/*! purgecss end ignore */
