@font-face {
  font-family: "Barlow Condensed";
  src: url("../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";

  src: url("../fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotu";
  src: url("../fonts/Gotu/Gotu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla/Karla-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
