{% extends "base.twig" %}

{% block content %}
<main class="container mx-auto" role="main">
    <div class="flex -mx-4 flex-wrap">
        <div class="px-4 w-10/12 mx-auto">
            <div class="flex -mx-4">
                <div class="px-4 w-full">
                    <h1 class="text-6xl leading-tight">
                        Let’s Get in Touch
                    </h1>
                </div>
            </div>
            <div class="flex -mx-4">
                <div class="px-4 w-8/12">
                    Form
                </div>
                <div class="px-4 ml-auto w-4/12">
                    <div>
                        <div>
                            <div>
                                <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                                    Email
                                </span>
                            </div>
                            <span>email@email.com</span>
                        </div>
                        <div>
                            <div>
                                <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                                    Phone
                                </span>
                            </div>
                            <span>123-456-7890</span>
                        </div>
                        <div>
                            <div>
                                <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                                    Find Us Online
                                </span>
                            </div>
                            <div class="flex">
                                <div class="flex align-center">
                                    <i data-feather="facebook"></i>
                                    <span>Facebook</span>
                                </div>
                                <div class="flex align-center">
                                    <i data-feather="instagram"></i>
                                    <span>Instagram</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                                Address
                            </span>
                            <p>
                                9 Lafayette Ave.
                                <br>
                                Buffalo, NY 14213
                                <br>
                                USA
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}