{% extends "base.twig" %}

{% block content %}
<main role="main">
    <div class="container mx-auto">
        <h1 class="text-4xl">{{ title }}</h1>
        <p>
            {{ content|raw }}
        </p>
    </div>
</main>
{% endblock %}