{% extends "base.twig" %}

{% block content %}
<main class="container mx-auto px-4" role="main">
    <div class="flex -mx-4">
        <div class="mb-4 w-3/12 px-4">
            {% for project in projects %}
            <div class="mb-8">
                <div class="border-red border-l-4 -ml-4 pl-3">
                    <span class="text-sm uppercase font-barlow-condensed text-red tracking-widest font-semibold">
                        {{project.post_date | date("F d, Y") }}
                    </span>
                    <div>
                        <div>
                            <span class="text-2xl font-gotu">{{project.post_title}}</span>
                        </div>
                        <p>
                            {{ project.preview.length(50).end('...') }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="px-4 w-9/12">
            <div class="relative pb-9/16 border-red border-2 mb-2">
                <div class="absolute w-full h-full p-1">
                    <div class="w-full h-full bg-gray-500">

                    </div>
                </div>
            </div>
            <div class="flex justify-between">
                <a class="text-lg uppercase text-red font-semibold tracking-widest font-barlow-condensed" href="#">
                    Check out this project
                    <span class="ml-2">&rarr;</span>
                </a>
                <div class="w-2/3">
                    <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna… </span>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}