<footer role="footer" class="container mx-auto mb-20 mt-64">
    <div class="flex -m-4">
        <div class="px-4 flex-1">
            <div class="flex flex-col justify-between h-full">
                <span class="text-3xl">{{site.name}}</span>
                <span class="font-sm">
                    All Rights Reserved
                    <span class="font-sans">&copy;</span>
                    {{"now"|date("Y")}}
                </span>
            </div>
        </div>
        <div class="flex px-4">
            <div class="mr-20">
                <div class="mb-8">
                    <div class="flex mb-2">
                        <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                            Email
                        </span>
                    </div>
                    <span>email@email.com</span>
                </div>
                <div>
                    <div class="flex mb-2">
                        <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                            Phone
                        </span>
                    </div>
                    <span>123-456-7890</span>
                </div>
            </div>
            <div class="mr-20">
                <div class="flex mb-2">
                    <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                        Address
                    </span>
                </div>
                <p>
                    9 Lafayette Ave.
                    <br>
                    Buffalo, NY 14213
                    <br>
                    USA
                </p>
            </div>
            <div>
                <div class="flex mb-2">
                    <span class="uppercase font-barlow-condensed font-semibold tracking-widest text-red">
                        Find Us Online
                    </span>
                </div>
                <div>
                    <div class="flex align-center mb-6">
                        <i data-feather="facebook"></i>
                        <span class="ml-3">Facebook</span>
                    </div>
                    <div class="flex align-center">
                        <i data-feather="instagram"></i>
                        <span class="ml-3">Instagram</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>