<nav x-data="nav()" @keydown.escape="isOpen = false" @click.away="isOpen = false"
    class="flex flex-wrap items-center justify-end p-2 w-full fixed z-10 top-0 bg-tan border-b border-tan-600 transition-fast overflow-hidden h-14"
    :style="getHeight()" x-cloak>

    <button @click="isOpen = !isOpen" type="button" class="block text-red p-2 md:hidden">
        <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path style="display:none;" x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd"
                d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
            <path x-show="!isOpen" fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
        </svg>
    </button>

    <div class="w-full transition-fast md:flex md:items-center md:w-auto pb-2 md:opacity-100"
        :class="isOpen ? 'opacity-100' : 'opacity-0'" x-ref="menu">
        <ul class="w-100 justify-end items-center md:pt-0 md:flex">
            {% for item in menu.items %}
            <li class="text-right mt-4 md:mt-0 md:ml-12">
                <a class="font-barlow-condensed text-red uppercase tracking-widest text-2xl block px-3 {{ item.current ? 'font-semibold'}}"
                    href="
                    {% if item.title == 'Blog' %}
                        {{most_recent_blog.link}}
                    {% else %}
                        {{item.link}}
                    {% endif %}">
                    {{item.title}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<script>
    window.nav = function () {
        return {
            isOpen: false,
            getHeight() {
                var height = this.$refs.menu.scrollHeight + 56;
                return this.isOpen ? 'height:' + height + 'px !important' : ''
            }
        }
    }
</script>