<nav class="fixed top-0 w-screen mt-10 z-10">
    <div class="container mx-auto flex px-4">
        <ul class="flex ml-auto">
            {% for item in menu.items %}
            <li class="ml-6 md:ml-20">
                <a class="font-barlow-condensed text-red uppercase tracking-widest text-2xl {{ item.current ? 'font-semibold'}}"
                    href="
                    {% if item.title == 'Blog' %}
                        {{most_recent_blog.link}}
                    {% else %}
                        {{item.link}}
                    {% endif %}">
                    {{item.title}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>